.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  margin: 5rem;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  /* justify-content: space-around; */
}
li {
  background-color: thistle;
  border-radius: 7px;
  border: 1px solid gray;
  font-size: 2rem;
  margin-top: 1rem;
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 2rem;
  min-width: 15rem;
}
li div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 10rem;
  direction: rtl;
}

li span {
  background-color: coral;
  border-radius: 7px;
  margin: 0.2rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
}

li span:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
